<!DOCTYPE HTML>

<html>
	<head>
		<title>Logistic Regression for NBA Hall of Fame Prediction</title>
	</head>
	<body>

		<header id="header">
			<h1>Logistic Regression for NBA Hall of Fame Prediction</h1>
			<p>Predict your favorite player's Hall of Fame chances (based only on regular season stats)!</p>
            <p>Included features are total # of: games, games started, minutes played, field goals, field goals attempted, threes, threes attempted, free throws, free throws attempted, offensive rebounds, defensive rebounds, total rebounds, assists, steals, blocks, turnovers, personal fouls, and points.</p>
		</header>

		<form action = "/predict" method = "post">
			<input type="text" name = "player_name" placeholder = "Player Name">			
			<input type="submit" value="Submit">
		</form>

		<p> <a href="https://github.com/sumeetk321/logistic-regression-nba-hof-predictor">Project Repository</a> </p>
		<footer>
			<p> Author: Sumeet Kulkarni </p>
			<p> <a href="https://github.com/sumeetk321">My Github</a></p>
			<p> <a href ="mailto: sumeetk2@illinois.edu"> Email me!</a> </p>
		</footer>
	</body>
</html>